{{outlet}}

<h2>Create Todo</h2>
<form class="form form-horizontal" {{action "save" on="submit"}}>
  <div class="form-group">
    <label for="{{label}}">Title</label>
    {{input class="form-control" type="text" value=title size="50"}}
  </div>
  <div class="form-group">
    <label for="{{completed}}">Competed</label>
    {{checkbox class="form-control" value=completed}}
  </div>
  <div class="col-md-6">
    <button class="btn btn-primary btn-block" type="submit">Save</button>
  </div>
  <div class="col-md-6">
    <button class="btn btn-default btn-block" {{action "cancel"}}>Cancel</button>
  </div>
</form>
